.post-related-title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3rem;
  color: var(--text-light);
  padding-bottom: 2rem;
  padding-top: 6rem;
}
.post-realted-container {
  display: flex;
  gap: 2rem;
}
