@import "../layout/NavMenu.scss";

.tag-btn {
  @extend .btn;
  padding: 0.5rem 1rem;
  background: var(--gray-opacity);
  border-radius: 1.5rem;
  color: var(--text-gray);
  cursor: pointer;
  &:active {
    box-shadow: inset 0px 0px 0px 2px var(--primary) !important;
  }
  &:hover {
    box-shadow: inset 0px 0px 0px 1px var(--secondary);
  }
}

.tag-btn-group {
  display: flex;
  gap: 0.25rem;
}

.tag-search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-direction: row;
  font-family: "Open Sans";
  line-height: 24px;
  padding-bottom: 0.5rem;
}

input[type="search"] {
  @extend .btn;
  font-family: inherit;
  font-size: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 40px;
  padding-right: 8px;
  border: solid 1px var(--border-muted);
  background-color: transparent;
  outline: none;
  box-sizing: border-box;
  min-width: 300px;
  color: var(--text-light);
  background: transparent url("../assets/search.svg") no-repeat 13px center;
  &:hover {
    border: solid 1px var(--secondary);
  }
  &:focus {
    border: solid 1px var(--secondary) !important;
    background-color: var(--white-opacity);
  }
  &::placeholder {
    color: var(--text-gray);
  }
  &::-webkit-search-cancel-button {
    cursor: pointer;
    background: transparent url("../assets/close.svg") no-repeat center;
    width: 15px;
    height: 15px;
    position: relative;
    right: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}
