@import "./global-var.scss";
html {
  font-size: 16px;
}
body {
  margin: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  -webkit-user-select: none;
  user-select: none;
}

.App {
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  width: var(--page-width);
  padding: 2rem 0px;
}

.App-Layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px var(--layout-side-padding);
  gap: 6rem;
}

.posts-container {
  padding: 2rem 0rem;
}
