@import "./styles/global-var.scss";

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}

.App {
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  // max-width: var(--page-width);
  padding: 2rem 0px;
  min-width: 400px;
  width: 100%;
}

.App-Layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px var(--layout-side-padding);
  gap: 6rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.posts-container {
  padding: 2rem 0rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}
