$primary: #6bf7aa;
$secondary: #3998ff;
$secondary-darker: #2e59f5;
$dark-blue: #00001a;
$line-height: 112px;
$light: #f8f7f7;
$gray: #4f4a4a;
$gray-light: #b5b1b1;
$page-width: 1440px;
$layout-side-padding: 90px;
$gray-opacity: rgba(247, 247, 247, 0.1);

:root {
  --primary: #{$primary};
  --secondary: #{$secondary};
  --secondary-darker: #{$secondary-darker};
  --dark-blue: #{$dark-blue};
  --hero-border: #{$primary};
  --hero-bg: #{$dark-blue};
  --light: #{$light};
  --text-light: #{$light};
  --text-gray: #{$gray-light};
  --page-width: #{$page-width};
  --layout-side-padding: #{$layout-side-padding};
  --border-muted: #{$gray};
  --gray-opacity: #{$gray-opacity};
  --loader-secondary: #{$gray-opacity};
  --loader-primary: #{$secondary-darker};
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

hr {
  border-bottom: var(--light);
  opacity: 0.1;
  width: 100%;
}
